.container-test {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 32px 0;
}

.card-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  padding: 16px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-paragraph {
  width: 10%;
  justify-content: flex-start;
  margin: 16px;
}

.container-paragraph-modal {
  justify-content: flex-start;
  margin: 16px;
}

.paragraph-title {
  margin: 0;
  text-overflow: inherit;
  font-weight: bold;
}
.paragraph-contain {
  margin: 0 16px 0 0;
  word-break: break-all;
}
